'.source.jbc':
  'editor':
    'commentStart': '* '
    'tabLength': 4
    'preferredLineLength': 80
    'showInvisibles': true
    'nonWordCharacters':  '/\\()"\':,;<>~!@#$%^&*|+=[]{}`?-' # Default with dot excluded
    'autoIdent': true
